/* INDEX ------------------------------------------------------------------------------------------------------------*/

body {
    margin: 0;
    background-color: #ffffff;

}

/* HEADEAR */

.header {
    background-color: black;
}

.header .container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;

}

/* display: flex;
justify-content: space-between;
align-items: center;
padding: 0 120px;
background-color: #ffffff;
font-family: "Marvel", sans-serif;
padding-bottom: 30px; */



@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    padding-right: 100px;

}

.navbar a {
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;

}

.locs {
    display: flex;
    font-weight: bolder;
    color: black;
    align-items: center;


}
 
/* descoração dos LINKS */

.locs >a{
    display: inline-block ;
    padding-bottom: 0.25rem;
    position: relative;
}
.locs a::before {
    content: "";
    position: absolute;
    background-color: #3FA2F3;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.25s ease-out;
    
    
}

 .locs >a:hover::before{
    width: 100%;
 }

 /* fim dos links */

.locs > p {
    color: #000000;
    font-family: "Marvel", sans-serif;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

}

.botoes1navbar {
    display: flex;
    width: 120px;
    height: 40px;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3FA2F3;
    border-color: #3FA2F3;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition-duration: 0.4s;

}

.botoes1navbar:hover {
    background-color: #ffffff; /* Green */
    color: #3FA2F3;

  }


.botoes2navbar {
    display: flex;
    width: 120px;
    height: 40px;
    flex-direction: row;
    border-radius: 10px;
    background-color: #1F2A33;
    border-color: #1F2A33;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition-duration: 0.4s;
    
}

.botoes2navbar:hover {
    background-color: #ffffff; /* Green */
    color: #1F2A33;

  }

.imageNavbar {
    width: 80px;
    height: 80px;
    margin-right: 100px;
}

.container .caixaprincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 40px;
}

.caixaprincipal {
    background-color: #B7CEF1;
    border-radius: 20px;
 
}

.image1 {
    width: 600px;
    flex-direction: end;
    display: flex;
    padding-left: 400px;

}

h2 {
    align-items: flex-start;
    color: #2F58A5;
    font-family: "Marvel", sans-serif;
    font-weight: 800px;
    font-style: normal;
    padding-left: 30px;
}


.box2 {
    width: 200px;
    height: 120px;
    background-color: #2F58A5;


}

/* TEXTOS -----------------------------------------------------------------------------------------------------------------*/

.texto1{
    display: flex;
    flex-direction: row;
}

.texto1 >p{
    text-align: justify;
    margin-left: 50%;
    margin-right: 100px;

}








/* FOOTER */

.footer {
    height: 120px;
    width: 100%;
    background-color: #2F58A5;
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin-bottom: 0;

}

.image {}