/* INDEX ------------------------------------------------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

.html_produto{
    scroll-behavior: smooth;
}   


body {
    margin: 0;
    background-color: #ffffff;



}

/* HEADEAR */

header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0%;
    display: flex;
    flex-direction: column;
    top: 0%;
    align-items: center;
}

.container {

    width: 80%;
    margin: auto;

}

.fixo {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    padding-right: 100px;

}

.navbar a {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;

}

.ou {
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI', sans-serif;
    color: #000000;

}

.traco {
    background-color: #1F2A33;
    width: 1px;
    height: 60px;
    margin: 20px;
}

.locs {
    display: flex;
    color: black;
    align-items: center;


}

/* decoração dos LINKS */

.locs>a {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.locs a::before {
    content: "";
    position: absolute;
    background-color: #3FA2F3;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.25s ease-out;


}

.locs>a:hover::before {
    width: 100%;
}

/* fim dos links */

.locs>p {
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

}

.botoes1navbar {
    display: flex;
    width: 120px;
    height: 40px;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3FA2F3;
    border-color: #3FA2F3;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition-duration: 0.4s;

}
.botoes1navbar {
    cursor: pointer;
}

.botoes1navbar:hover {
    background-color: #ffffff;
    /* Green */
    color: #3FA2F3;

}


.botoes2navbar {
    display: flex;
    width: 120px;
    height: 40px;
    flex-direction: row;
    border-radius: 10px;
    background-color: #1F2A33;
    border-color: #1F2A33;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition-duration: 0.4s;

}

.botoes1navbar {
    cursor: pointer;
}


.botoes2navbar:hover {
    background-color: #ffffff;
    /* Green */
    color: #1F2A33;

}

.imageNavbar {
    width: 80px;
    height: 80px;
    margin-right: 100px;
}

/* comeco site */

.caxa {
    width: 50%;
    flex-direction: column;


}

.caxa2 {
    width: 50%;
}

section {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.caixaprincipal {
    background-color: #B7CEF1;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    padding: 3%;

}

.image1 {
    float: right;
    margin-left: 2%;
    width: 90%;
    padding-right: 5%;
}

h2 {
    color: #2F58A5;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 8%;
}

.texto_caixa {
    color: #2F58A5;
    font-family: 'Segoe UI', sans-serif;
    font-size: 135%;
    margin-top: 2%;


}

.box2 {
    width: 200px;
    height: 120px;
    background-color: #2F58A5;
    align-items: end;
    margin-top: 20%;
    margin-left: 6%;

}

/* TEXTOS -----------------------------------------------------------------------------------------------------------------*/

.texto1 {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 10%;
}

.retan {
    margin-left: 8%;
    width: 50%;

}

.retan2 {
    margin-right: 7%;
    width: 50%;
    display: flex;
}


.retangulo {
    background-color: #2F58A5;
    width: 80px;
    height: 7px;
    margin-bottom: 3%;

}

h3 {
    color: hsl(219, 56%, 42%);
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    

}


p {
    font-size: 17px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 1.8%;
    margin-top: 1.8%;
    font-family: 'Segoe UI', sans-serif;
    margin-right: 30%;
    width: 100%;
    margin-right: 100px;

}


.texto2 {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 10%;
}

.retan3 {
    margin-left: 8%;
    width: 50%;

}

.retan4 {
    flex-direction: column;
    margin-left: 10%;
    width: 50%;
    display: flex;
}

.retan4>p {
    width: 65%;
}

.imagem_freezer {
    float: left;
    margin-left: 2%;
    width: 90%;
    padding-right: 5%;
    border-radius: 8%;
}




.texto3 {
    display: flex;
    justify-content: start;

}

.retan5 {
    width: 50%;
    margin: 9%;

}

.retan6 {
    flex-direction: column;
    margin-right: 9%;
    width: 50%;
    display: flex;
}

.retan5>p {
    width: 65%;
}

.boxbox {
    background-color: #cccccc;
    width: 400px;
    height: 450px;
    border-color: #2F58A5;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* estruturação ---------------------------------------------------------- */

.titulo {
    height: 15%;
    text-align: center;
    margin-top: 5%;
}


.icons {
    height: 25%;
    padding-left: 8%;

}

.icons2 {
    height: 25%;
    padding-left: 38%;

}



/* --------------------------------------------------------------------- */


h5 {
    color: #2F58A5;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    margin-top: 2%;

}

.imagens {
    width: 100px;
    height: 100px;
}

.mais {
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;

}



.caixaTexto1 {
    height: 25%;

}

.caixaTexto2 {
    height: 25%;

}

.caixaTexto3 {
    height: 25%;

}

.caixaTexto4 {
    height: 25%;
    justify-content: center;
    display: flex;

}

h6 {
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 23px;
    margin-top: 2%;
    text-align: center;
    width: 100%;
}

.caixaTexto1>h3 {
    margin-top: 5%;
    margin-left: 5%;

}

.textoF {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: #ffffffd2;
    font-size: 21px;
}


.botaoFale {
    cursor: pointer;
}


/* FOOTER */

 footer {
    position: flex;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #2F58A5;
 
}

.footer-conteudo{
    flex-direction: row;
    display: flex;
}

.footer-nav{
    padding-left: 5%;
    padding-top: 2%;
    width: 50%;
}

.footer-nav2{
    padding-left: 5%;
    padding-top: 2%;
    width: 50%;
}

.imagem_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: flex-end;
    width: 50%;
    
}

.i{
    height: 100px;
    width: 100px;
}
/* CLASS DOS TEXTOS -------------------------------------------------- */

.texto88 {
    color: white;
    margin-top: 5%;
}

.HH {
    color: white;
    margin-left: 0px;
}

.texto99 {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------*/



.tods>a {
    color: #ffffffce;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}


/*****************************/
.tods>a {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.tods a::before {
    content: "";
    position: absolute;
    background-color: #3FA2F3;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.25s ease-out;

}

.tods>a:hover::before {
    width: 100%;
}

.tods::marker {
    color: white;

}


/* ******************************************************************************************************************************/


/* SITE PRODUTOS */


.texto1_produtos {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}

.retan_produtos {
    width: 50%;
    margin-left: 100px;
    align-items: center;

}

.retan2_imagem {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;

}

.sensorfoto {
    width: 400px;
    height: 400px;

}

/* SEGUNDA PARTE - PRODUTOS */

.texto2_produtos {
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.retan3_produtos {
    width: 50%;
    margin-left: 100px;
    align-items: center;

}

.retan4_produtos {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;


}

/* TERCEIRA PARTE */

.texto3_produtos {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 8%;

}

.retan5_produtos {
    width: 50%;
    margin-left: 100px;
    align-items: center;


}

.retan6_produtos {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;


}

.retanguloW {
    background-color: #2F58A5;
    width: 80px;
    height: 7px;
    margin-bottom: 5%;
    margin-right: 52%;

}


/* Site Sobre Nós --------------------------------------------------------------------------------- */

.container2 {
    flex-direction: row;
    display: flex;
}

.caixaprincipal_sobrenos {
    height: 350px;
    width: 70%;
    background-color: #1F2A33;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    padding: 3%;
}

.fotosptech {
    height: 350px;
    margin-left: 100px;
   
}


.texto_caixa{
    color: white;
    text-align: left;
}

.caixaprincipal_sobrenos .caxa{
    margin-top: 8%;
}


.bm {
    color: #2F58A5;
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 8%;

}

/* parte 2 */

.texto1_sobrenos{
    display: flex;
    flex-direction: column;
}

.aspas{
    width: 65px;
    height: 65px;
}

#inverter{
    transform: scale(-1);
}

.gg{
    justify-content: end;
    display: flex;
}

.fundadores{
    color: #2F58A5;
    display: flex;
    justify-content: end;
    font-size: 17px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 1.8%;
    margin-top: 1.8%;
    font-family: 'Segoe UI', sans-serif;
    margin-right: 30%;
    width: 100%;
    margin-right: 100px;

}


/* -------------------------------*/ 

.rm {
    color: #2F58A5;
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;
    margin-bottom: 5%;

}

.texto2_sobrenos{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.icons4_sobrenos{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;

}


/* ===================================================*/ 
.cc1{   
    width: 20%;

}
.cc2{
    width: 20%;

}
.cc3{
    width: 20%;

}
.cc4{
    width: 20%;

}
.cc5{
    width: 20%;

}

.cc1>p{
    width: 60%;
    color: #2F58A5;
    text-align: center;

}
.cc2>p{
   width: 60%;
    color: #2F58A5;
    text-align: center;
}
.cc3>p{
    width: 60%;
    color: #2F58A5;
    text-align: center;

}
.cc4>p{
    width: 60%;
    color: #2F58A5;
    text-align: center;

}
.cc5>p{
    width: 60%;
    color: #2F58A5;
    text-align: center;

}

/* -------------------------------------------*/


.jj{
    width: 100px;
    height: 100px;

}

/*  Fale Conosco ------------------------------------------------------ */ 

.fala_conosco{
    background-color: #3FA2F3;
    margin: 0;
}

.section{
    display: flex;
    padding: 5%;
    flex-direction: row;
    

}

.texto_falaconosco{
    display: flex;
    justify-content: lefts;
    flex-direction: column;
    width: 50%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2%;
}

.texto_falaconosco h1{
    color: #00005c;
    font-family: 'Segoe UI', sans-serif;
    font-size: 27px;
}

.texto_falaconosco p{
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    margin-bottom: 0;
    margin-top: 4%;
}

/*  lado esquerdo ------------------------------------------------------- */ 


.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2%;

}

.divFale{
    display: flex;
    justify-content: center;
}

.input p{
    font-family: 'Segoe UI', sans-serif;
    color: #2F58A5;
    margin-bottom: 0;
    margin-top: 4%;

}

.input h1{
    color: #00005c;
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;

}

.int{
    display: flex;
    border-color: #2F58A5;
    height: 30px;
    
}

.intMensagem{
    display: flex;
    border-color: #2F58A5;
    height: 80px;
}

.botao_falaconosco{
    font-size: larger;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    width: 25%;
    height: 40px;
    color: #ffffff;
    background-color: #3FA2F3;
    border-color: #3FA2F3;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

/* ***************************************************************************************** */

.link_faleconosco:hover{
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    list-style-type: none;  
    text-decoration: none;

}

li{
    list-style-type: none;

}